main {
    margin: 0px;
    font-family: Arial;
    margin: 10px 20px 45px;
}

body {
    margin: 0;
    padding-top: 0; 
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
}

.site-header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    position: relative;
    width: 100;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    height: 50px;
}

.main-nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.main-nav a:hover {
    text-decoration: underline;
    background-color: #003366; 
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.3s ease;
}

.main-nav a.active {
    color: #ffffff;
    background-color: #0055aa;
    padding: 5px 10px;
    border-radius: 4px;
}